{% extends 'layout/base.html' %}
{% load static %}
{% block title %}ورود به سامانه{% endblock %}
{% block body %}

<!-- BACKGROUND-IMAGE -->
<div class="">

    <!-- GLOABAL LOADER -->
    <div id="global-loader">
        <img alt="Loader" class="loader-img" src="{% static '' %}/images/loader.svg">
    </div>
    <!-- /GLOABAL LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="">
            <div class="container-login100">
                <div class="wrap-login100 p-6">
                        <form class="login100-form validate-form" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <button class="btn btn-success" type="submit">Log In</button>
                          </form>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- End PAGE -->

</div>

<!-- BACKGROUND-IMAGE CLOSED -->
{% block js %}
<!-- JQUERY JS -->
<script src="{% static '' %}/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="{% static '' %}/plugins/bootstrap/js/popper.min.js"></script>
<script src="{% static '' %}/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- SHOW PASSWORD JS -->
<script src="{% static '' %}/js/show-password.min.js"></script>

<!-- GENERATE OTP JS -->
<script src="{% static '' %}/js/generate-otp.js"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="{% static '' %}/plugins/p-scroll/perfect-scrollbar.js"></script>

<!-- Color Theme js -->
<script src="{% static '' %}/js/themeColors.js"></script>

<!-- CUSTOM JS -->
<script src="{% static '' %}/js/custom.js"></script>

<!-- Custom-switcher -->
<script src="{% static '' %}/js/custom-swicher.js"></script>

<!-- Switcher js -->
<script src="{% static '' %}/switcher/js/switcher.js"></script>

{% endblock %}
{% endblock %}