        <!-- app-Header -->
        <div class="app-header header sticky">
            <div class="container-fluid main-container">
                <div class="d-flex">
                    <!-- sidebar-toggle-->
                    <!-- LOGO -->   
                    <div class="main-header-center ms-3 d-none d-lg-block">
                        <input autocomplete="off" class="form-control" id="typehead" placeholder="جستجو برای نتایج ..."
                               type="text">
                        <button class="btn px-0 pt-2"><i aria-hidden="true" class="fe fe-search"></i></button>
                    </div>
                    <div class="d-flex order-lg-2 ms-auto header-right-icons">
                        <div class="dropdown d-none">
                            <a class="nav-link icon" data-bs-toggle="dropdown" href="javascript:void(0)">
                                <i class="fe fe-search"></i>
                            </a>
                            <div class="dropdown-menu header-search dropdown-menu-start">
                                <div class="input-group w-100 p-2">
                                    <input class="form-control" placeholder="جستجو ..." type="text">
                                    <div class="input-group-text btn btn-primary">
                                        <i aria-hidden="true" class="fe fe-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SEARCH -->
                        <button aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation" class="navbar-toggler navresponsive-toggler d-lg-none ms-auto"
                                data-bs-target="#navbarSupportedContent-4" data-bs-toggle="collapse"
                                type="button">
                            <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                        </button>
                        <div class="navbar navbar-collapse responsive-navbar p-0">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                <div class="d-flex order-lg-2">
                                    <div class="dropdown d-lg-none d-flex">
                                        <a class="nav-link icon" data-bs-toggle="dropdown" href="javascript:void(0)">
                                            <i class="fe fe-search"></i>
                                        </a>
                                        <div class="dropdown-menu header-search dropdown-menu-start">
                                            <div class="input-group w-100 p-2">
                                                <input class="form-control" placeholder="جستجو ..." type="text">
                                                <div class="input-group-text btn btn-primary">
                                                    <i aria-hidden="true" class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex country">
                                        <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                            <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                            <span class="light-layout"><i class="fe fe-sun"></i></span>
                                        </a>
                                    </div>
                                    <!-- Theme-Layout -->
                                    <div class="dropdown d-flex">
                                        <a class="nav-link icon full-screen-link nav-link-bg">
                                            <i class="fe fe-minimize fullscreen-button"></i>
                                        </a>
                                    </div>
                                    <!-- FULL-SCREEN -->
                                    <div class="dropdown d-flex header-settings">
                                        <a class="nav-link icon" data-bs-toggle="sidebar-right"
                                           data-target=".sidebar-right" href="javascript:void(0);">
                                            <i class="fe fe-align-right"></i>
                                        </a>
                                    </div>
                                    <!-- SIDE-MENU -->  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /app-Header -->