    {% load static %}
    <!-- Sidebar-right -->
    <div class="sidebar sidebar-right sidebar-animate">
        <div class="panel panel-primary card mb-0 shadow-none border-0">
            <div class="tab-menu-heading border-0 d-flex p-3">
                <div class="card-title mb-0"><i class="fe fe-bell me-2"></i><span
                        class=" pulse"></span>اعلانات
                </div>
                <div class="card-options ms-auto">
                    <a class="sidebar-icon text-end float-end me-3 mb-1" data-bs-toggle="sidebar-right"
                       data-target=".sidebar-right" href="javascript:void(0);"><i
                            class="fe fe-x text-white"></i></a>
                </div>
            </div>
            <div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
                <div class="tabs-menu border-bottom">
                    <!-- Tabs -->
                    <ul class="nav panel-tabs">
                        <li class=""><a class="active" data-bs-toggle="tab" href="#sidebar-side1"><i
                                class="fe fe-settings me-1"></i>خوراک</a></li>
                        <li><a data-bs-toggle="tab" href="#sidebar-side2"><i class="fe fe-message-circle me-1"></i>
                            چت</a></li>
                        <li><a data-bs-toggle="tab" href="#sidebar-side3"><i class="fe fe-anchor me-1"></i>تایم لاین</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="sidebar-side1">
                        <div class="p-3 fw-semibold ps-5">خوراک ها</div>
                        <div class="card-body pt-2">
                            <div class="browser-stats">
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span class="feeds avatar-circle brround bg-primary-transparent"><i
                                                    class="fe fe-user text-primary"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">کاربر جدید عضو شد</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                                <a href="javascript:void(0)"><i class="fe fe-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-secondary brround bg-secondary-transparent"><i
                                                    class="fe fe-shopping-cart text-secondary"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">سفارش تحویل داده شد</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                                <a href="javascript:void(0)"><i class="fe fe-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-danger brround bg-danger-transparent"><i
                                                    class="fe fe-bell text-danger"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">وظایف در حال انجام</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                                <a href="javascript:void(0)"><i class="fe fe-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-warning brround bg-warning-transparent"><i
                                                    class="fe fe-gitlab text-warning"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">نسخه جدید رسید</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                                <a href="javascript:void(0)"><i class="fe fe-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-pink brround bg-pink-transparent"><i
                                                    class="fe fe-database text-pink"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">سرور #1 در حال انفجار است</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                                <a href="javascript:void(0)"><i class="fe fe-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-info brround bg-info-transparent"><i
                                                    class="fe fe-check-circle text-info"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">پروژه جدید ران شد</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                                <a href="javascript:void(0)"><i class="fe fe-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 fw-semibold ps-5">تنظیمات</div>
                        <div class="card-body pt-2">
                            <div class="browser-stats">
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span class="feeds avatar-circle brround bg-primary-transparent"><i
                                                    class="fe fe-settings text-primary"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">تنظیمات عمومی</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-secondary brround bg-secondary-transparent"><i
                                                    class="fe fe-map-pin text-secondary"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">تنظیمات نقشه</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-danger brround bg-danger-transparent"><i
                                                    class="fe fe-headphones text-danger"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">تنظیمات پشتیبانی</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-warning brround bg-warning-transparent"><i
                                                    class="fe fe-credit-card text-warning"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">تنظیمات پرداخت</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-2 mb-sm-0 mb-3">
                                            <span
                                                    class="feeds avatar-circle avatar-circle-pink brround bg-pink-transparent"><i
                                                    class="fe fe-bell text-pink"></i></span>
                                    </div>
                                    <div class="col-sm-10 ps-sm-0">
                                        <div class="d-flex align-items-end justify-content-between ms-2">
                                            <h6 class="">تنظیمات اعلان</h6>
                                            <div>
                                                <a href="javascript:void(0)"><i class="fe fe-settings me-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="sidebar-side2">
                        <div class="list-group list-group-flush">
                            <div class="pt-3 fw-semibold ps-5">امروز</div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/2.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">ادی مورفی
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> سلام .. من در دسترس هستم </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/11.jpg"><span
                                                class="avatar-status bg-success"></span></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">جورج بوش
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> باشه منتظرم </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/10.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">دونالد ترمپ
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> سلام ، من پروژه رو شرح می دهم...
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/13.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">جان اف کندی
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> کار جدید برای شما دارم </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/12.jpg"><span
                                                class="avatar-status bg-success"></span></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">کلینتون
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> باشه منتظر شما هستم </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/15.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">باراک اوباما
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> سلام پروژه را شرح دادم
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/4.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">جورج واشنگتن
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> سلام من در دسترس هستم</p>
                                    </a>
                                </div>
                            </div>
                            <div class="pt-3 fw-semibold ps-5">دیروز</div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/11.jpg"><span
                                                class="avatar-status bg-success"></span></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">جورج بوش
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> باشه منتظرم </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/10.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">دونالد ترمپ
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> سلام ، من پروژه رو شرح می دهم...
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/13.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">جان اف کندی
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> کار جدید برای شما دارم </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/12.jpg"><span
                                                class="avatar-status bg-success"></span></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">کلینتون
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> باشه منتظر شما هستم </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/15.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">باراک اوباما
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> سلام پروژه را شرح دادم
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center">
                                <div class="me-2">
                                        <span class="avatar avatar-md brround cover-image"
                                              data-bs-image-src="{% static '' %}images/users/4.jpg"></span>
                                </div>
                                <div class="">
                                    <a href="chat.html">
                                        <div class="fw-semibold text-dark" data-bs-toggle="modal"
                                             data-target="#chatmodel">جورج واشنگتن
                                        </div>
                                        <p class="mb-0 fs-12 text-muted"> سلام من در دسترس هستم</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="sidebar-side3">
                        <ul class="task-list timeline-task">
                            <li class="d-sm-flex mt-4">
                                <div>
                                    <i class="task-icon1"></i>
                                    <h6 class="fw-semibold">وضایف تمام شده<span
                                            class="text-muted fs-11 mx-2 fw-normal">09 تیر 1401</span></h6>
                                    <p class="text-muted fs-12">آدام لمبرت کار خود را در<a class="fw-semibold"
                                                                                           href="javascript:void(0)"> مدیریت
                                        پروژه</a> تمام کرد</p>
                                </div>
                                <div class="ms-auto d-md-flex me-3">
                                    <a class="text-muted me-2" href="javascript:void(0)"><span
                                            class="fe fe-edit"></span></a>
                                    <a class="text-muted" href="javascript:void(0)"><span class="fe fe-trash-2"></span></a>
                                </div>
                            </li>
                            <li class="d-sm-flex">
                                <div>
                                    <i class="task-icon1"></i>
                                    <h6 class="fw-semibold">نظر جدید<span
                                            class="text-muted fs-11 mx-2 fw-normal">05 خرداد 1402</span></h6>
                                    <p class="text-muted fs-12">ویکتوریا در <a class="fw-semibold"
                                                                               href="javascript:void(0)"> AngularJS نمونه</a>
                                        کامنت گذاشت </p>
                                </div>
                                <div class="ms-auto d-md-flex me-3">
                                    <a class="text-muted me-2" href="javascript:void(0)"><span
                                            class="fe fe-edit"></span></a>
                                    <a class="text-muted" href="javascript:void(0)"><span class="fe fe-trash-2"></span></a>
                                </div>
                            </li>
                            <li class="d-sm-flex">
                                <div>
                                    <i class="task-icon1"></i>
                                    <h6 class="fw-semibold">نظر جدید<span
                                            class="text-muted fs-11 mx-2 fw-normal">25 دی 1402</span></h6>
                                    <p class="text-muted fs-12">ویکتوریا در <a class="fw-semibold"
                                                                               href="javascript:void(0)"> AngularJS نمونه</a>
                                        کامنت گذاشت </p>
                                </div>
                                <div class="ms-auto d-md-flex me-3">
                                    <a class="text-muted me-2" href="javascript:void(0)"><span
                                            class="fe fe-edit"></span></a>
                                    <a class="text-muted" href="javascript:void(0)"><span class="fe fe-trash-2"></span></a>
                                </div>
                            </li>
                            <li class="d-sm-flex">
                                <div>
                                    <i class="task-icon1"></i>
                                    <h6 class="fw-semibold">کار عقب افتاده<span
                                            class="text-muted fs-11 mx-2 fw-normal">14 مهر 1402</span></h6>
                                    <p class="text-muted mb-0 fs-12">کاظم کاظمی کار خود را در<a
                                            class="fw-semibold"
                                            href="javascript:void(0)">مدریتی مشترک</a>تمام کرد</p>
                                </div>
                                <div class="ms-auto d-md-flex me-3">
                                    <a class="text-muted me-2" href="javascript:void(0)"><span
                                            class="fe fe-edit"></span></a>
                                    <a class="text-muted" href="javascript:void(0)"><span class="fe fe-trash-2"></span></a>
                                </div>
                            </li>
                            <li class="d-sm-flex">
                                <div>
                                    <i class="task-icon1"></i>
                                    <h6 class="fw-semibold">کار عقب افتاده<span
                                            class="text-muted fs-11 mx-2 fw-normal">29 مرداد 1402</span></h6>
                                    <p class="text-muted mb-0 fs-12">کاظم کاظمی کار خود را در<a
                                            class="fw-semibold"
                                            href="javascript:void(0)">مدریتی مشترک</a>تمام کرد</p>
                                </div>
                                <div class="ms-auto d-md-flex me-3">
                                    <a class="text-muted me-2" href="javascript:void(0)"><span
                                            class="fe fe-edit"></span></a>
                                    <a class="text-muted" href="javascript:void(0)"><span class="fe fe-trash-2"></span></a>
                                </div>
                            </li>
                            <li class="d-sm-flex">
                                <div>
                                    <i class="task-icon1"></i>
                                    <h6 class="fw-semibold">کار تمام شده<span
                                            class="text-muted fs-11 mx-2 fw-normal">09 خرداد 1402</span></h6>
                                    <p class="text-muted fs-12">آدام لمبرت کار خود را در<a class="fw-semibold"
                                                                                           href="javascript:void(0)"> مدیریت
                                        پروژه</a></p>
                                </div>
                                <div class="ms-auto d-md-flex me-3">
                                    <a class="text-muted me-2" href="javascript:void(0)"><span
                                            class="fe fe-edit"></span></a>
                                    <a class="text-muted" href="javascript:void(0)"><span class="fe fe-trash-2"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>