        <!--APP-SIDEBAR-->
        <div class="sticky">
            <div class="app-sidebar">
                <div class="main-sidemenu">
                    <ul class="side-menu">
                        <li class="sub-category">
                            <h3>اصلی</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item has-link" data-bs-toggle="slide" href="/"><i
                                    class="side-menu__icon fe fe-home"></i><span class="side-menu__label">داشبورد</span></a>
                        </li>
                        <li class="sub-category">
                            <h3>پیمایش سریع</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-slack"></i><span
                                    class="side-menu__label">مدیریت گردش کالا</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">مدیریت گردش محصول</a></li>
                                <li><a class="slide-item" href="/">ثبت ورودی کالا در انبار</a></li>
                                <li><a class="slide-item" href="/">ثبت خروجی کالا در انبار</a></li>
                                <li><a class="slide-item" href="/">تاریخچه گردش کالاها</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-slack"></i><span
                                    class="side-menu__label">مدیریت انبار</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">مدیریت انبار</a></li>
                                <li><a class="slide-item" href="/">فهرست انبار ها</a></li>
                                <li><a class="slide-item" href="/">ایجاد انبار</a></li>
                                <li><a class="slide-item" href="/">فهرست دسته بندی انبار ها</a></li>
                                <li><a class="slide-item" href="/">ایجاد دسته بندی انبار</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-slack"></i><span
                                    class="side-menu__label">مدیریت کالاها</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">مدیریت کالاها</a></li>
                                <li><a class="slide-item" href="/">فهرست کالاها</a></li>
                                <li><a class="slide-item" href="/">ایجاد محصول</a></li>
                                <li><a class="slide-item" href="/">فهرست دسته بندی کالاها</a></li>
                                <li><a class="slide-item" href="/">ایجاد دسته بندی محصول</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-slack"></i><span
                                    class="side-menu__label">تامین کنندگان</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">تامین کنندگان</a></li>
                                <li><a class="slide-item" href="/">فهرست تامین کنندگان</a></li>
                                <li><a class="slide-item" href="/">تعریف تامین کننده جدید</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-slack"></i><span
                                    class="side-menu__label">خدمات پرسنلی</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">خدمات پرسنلی</a></li>
                                <li><a class="slide-item" href="/">فهرست پرسنل سازمان</a></li>
                                <li><a class="slide-item" href="/">تعریف پرسنل جدید</a></li>
                                <li><a class="slide-item" href="/">محاسبه راندمان کاری پرسنل</a></li>
                                <li><a class="slide-item" href="/">پرداختی پرسنل</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/APP-SIDEBAR-->
        </div>