<!doctype html>
<html dir="rtl" lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- BOOTSTRAP CSS -->
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" id="style" rel="stylesheet"/>

    <!-- STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet"/>
    <link href="../assets/css/plugins.css" rel="stylesheet"/>
    <link href="../assets/css/dark-style.css" rel="stylesheet"/>
    <link href="../assets/css/transparent-style.css" rel="stylesheet">
    <link href="../assets/css/skin-modes.css" rel="stylesheet"/>

    <!--- FONT-ICONS CSS -->
    <link href="../assets/css/icons.css" rel="stylesheet"/>

    <!-- COLOR SKIN CSS -->
    <link href="../assets/colors/color1.css" id="theme" media="all" rel="stylesheet" type="text/css"/>

    <!-- INTERNAL Switcher css -->
    <link href="../assets/switcher/css/switcher.css" rel="stylesheet"/>
    <link href="../assets/switcher/demo.css" rel="stylesheet"/>


    <link href="../assets/fonts/styles-fa-num/iran-yekan.css" id="fonts" rel="stylesheet">
    <link href="../assets/css/rtl.css" rel="stylesheet"/>
</head>

<body class="app sidebar-mini rtl">

<!-- Switcher -->
<div class="switcher-wrapper">
    <div class="demo_changer">
        <div class="form_holder sidebar-right1">
            <div class="row">
                <div class="predefined_styles">
                    <div class="swichermainleft">
                        <h4>حالت پیمایش</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">منوی افقی</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox"
                                                                   id="myonoffswitch34" name="onoffswitch15"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch34"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">منوی عمودی کلیکی</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch35"
                                                                   name="onoffswitch15" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch35"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">منوی عمودی با هاور</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch111"
                                                                   name="onoffswitch15" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch111"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت چپ چین / راست چین</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">حالت چپ چین</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch23" name="onoffswitch7"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch23"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">حالت راست چین</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch24"
                                                                   name="onoffswitch7" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch24"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت روشن قالب</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">قالب روشن</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch1"
                                                                   name="onoffswitch1" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch1"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">رنگ اصلی در روشن</span>
                                    <div class="">
                                        <input class="w-30p h-30 input-color-picker color-primary-light" data-id="bg-color"
                                               data-id1="bg-hover" data-id2="bg-border" data-id7="transparentcolor"
                                               id="colorID" name="lightPrimary" oninput="changePrimaryColor()"
                                               type="color" value="#6c5ffc">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت تیره قالب</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">قالب تیره</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch2" name="onoffswitch1"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch2"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">رنگ اصلی در تیره</span>
                                    <div class="">
                                        <input class="w-30p h-30 input-dark-color-picker color-primary-dark"
                                               data-id="bg-color" data-id1="bg-hover" data-id2="bg-border"
                                               data-id3="primary" data-id8="transparentcolor" id="darkPrimaryColorID" name="darkPrimary"
                                               oninput="darkPrimaryColor()" type="color"
                                               value="#6c5ffc">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت شیشه ای</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">قالب شیشه ای</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitchTransparent"
                                                                   name="onoffswitch1"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitchTransparent"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">رنگ اصلی در حالت شیشه ای</span>
                                    <div class="">
                                        <input class="w-30p h-30 input-transparent-color-picker color-primary-transparent"
                                               data-id="bg-color" data-id1="bg-hover"
                                               data-id2="bg-border" data-id3="primary" data-id4="primary"
                                               data-id9="transparentcolor" id="transparentPrimaryColorID" name="tranparentPrimary"
                                               oninput="transparentPrimaryColor()" type="color" value="#6c5ffc">
                                    </div>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">پس زمینه حالت شیشه ای</span>
                                    <div class="">
                                        <input class="w-30p h-30 input-transparent-color-picker color-bg-transparent"
                                               data-id5="body" data-id6="theme" data-id9="transparentcolor"
                                               id="transparentBgColorID" name="transparentBackground" oninput="transparentBgColor()" type="color"
                                               value="#6c5ffc">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت پس زمینه شیشه ای</h4>
                        <div class="skin-body switch_section">
                            <div class="switch-toggle d-flex">
                                <span class="me-auto">تصویر زمینه اصلی </span>
                                <div class="">
                                    <input class="w-30p h-30 input-transparent-color-picker color-primary-transparent"
                                           data-id="bg-color" data-id1="bg-hover"
                                           data-id2="bg-border" data-id3="primary" data-id4="primary"
                                           data-id9="transparentcolor" id="transparentBgImgPrimaryColorID" name="tranparentPrimary"
                                           oninput="transparentBgImgPrimaryColor()" type="color" value="#6c5ffc">
                                </div>
                            </div>
                            <div class="switch-toggle d-flex mt-2">
                                <a class="bg-img1" href="javascript:void(0);" onclick="bgImage(this)"><img
                                        alt="Bg-Image" id="bgimage1" src="../assets/images/media/bg-img1.jpg"></a>
                                <a class="bg-img2" href="javascript:void(0);" onclick="bgImage(this)"><img
                                        alt="Bg-Image" id="bgimage2" src="../assets/images/media/bg-img2.jpg"></a>
                                <a class="bg-img3" href="javascript:void(0);" onclick="bgImage(this)"><img
                                        alt="Bg-Image" id="bgimage3" src="../assets/images/media/bg-img3.jpg"></a>
                                <a class="bg-img4" href="javascript:void(0);" onclick="bgImage(this)"><img
                                        alt="Bg-Image" id="bgimage4" src="../assets/images/media/bg-img4.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت منو</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle lightMenu d-flex">
                                    <span class="me-auto">منو روشن</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch3"
                                                                   name="onoffswitch2" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch3"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle colorMenu d-flex mt-2">
                                    <span class="me-auto">رنگ منو</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch4" name="onoffswitch2"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch4"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle darkMenu d-flex mt-2">
                                    <span class="me-auto">منو تیره</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch5" name="onoffswitch2"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch5"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle gradientMenu d-flex mt-2">
                                    <span class="me-auto">منو گرادیانت</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch19" name="onoffswitch2"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch19"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت سربرگ</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle lightHeader d-flex">
                                    <span class="me-auto">سربرگ روشن</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch6"
                                                                   name="onoffswitch3" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch6"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle  colorHeader d-flex mt-2">
                                    <span class="me-auto">سربرگ رنگی</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch7" name="onoffswitch3"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch7"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle darkHeader d-flex mt-2">
                                    <span class="me-auto">سربرگ تیره</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch8" name="onoffswitch3"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch8"></label>
                                    </p>
                                </div>

                                <div class="switch-toggle darkHeader d-flex mt-2">
                                    <span class="me-auto">سربرگ گرادیانت</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch20" name="onoffswitch3"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch20"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>حالت های عرض محتوا</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">تمام عرض</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch9"
                                                                   name="onoffswitch4" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch9"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">جعبه ای</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch10" name="onoffswitch4"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch10"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>موقعیت های چیدمان</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">ثابت</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox" id="myonoffswitch11"
                                                                   name="onoffswitch5" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch11"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">قابل اسکرول</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch12" name="onoffswitch5"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch12"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft leftmenu-styles">
                        <h4>حالت های منوی کناری</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">منوی پیشفرض</span>
                                    <p class="onoffswitch2"><input checked class="onoffswitch2-checkbox default-menu" id="myonoffswitch13"
                                                                   name="onoffswitch6" type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch13"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">آیکن با متن</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch14" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch14"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">فقط آیکن</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch15" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch15"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">حالت بسته</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch16" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch16"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">نمایش زیرمنو با هاور</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch17" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch17"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">نمایش زیرمنو با هاور 2</span>
                                    <p class="onoffswitch2"><input class="onoffswitch2-checkbox" id="myonoffswitch18" name="onoffswitch6"
                                                                   type="radio">
                                        <label class="onoffswitch2-label" for="myonoffswitch18"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>فونت قالب </h4>
                        <div class="skin-body mb-3">
                            <label class="text-start d-block px-3" for="font-changer"> ( اعداد فارسی ) </label>
                            <select class="form-control form-select" id="font-changer" name="font-changer">
                                <option value="iran-yekan">ایران یکان</option>
                                <option value="iran-sans">ایران سنس</option>
                                <option value="aviny">آوینی</option>
                                <option value="azarmehr">آذرمهر</option>
                                <option value="damavand">دماوند</option>
                                <option value="dastnevis">دست نویس</option>
                                <option value="dubai">دوبی</option>
                                <option value="estedad">استعداد</option>
                                <option value="helvetica-neue">هلوتیکا</option>
                                <option value="lalezar">لاله زار</option>
                                <option value="mikhak">میخک</option>
                                <option value="myriad">میریاد</option>
                                <option value="noora">نورا</option>
                                <option value="palatino-sans">پالاتینو</option>
                                <option value="pinar">پینار</option>
                                <option value="dana">دانا</option>
                                <option value="sahel">ساحل</option>
                                <option value="shabnam">شبنم</option>
                                <option value="vanda">واندا</option>
                                <option value="vazir">وزیر</option>
                            </select>
                        </div>

                        <div class="skin-body">
                            <label class="text-start d-block px-3" for="font-changer-en"> ( اعداد انگلیسی ) </label>
                            <select class="form-control form-select" id="font-changer-en" name="font-changer">
                                <option value="iran-yekan">ایران یکان</option>
                                <option value="iran-sans">ایران سنس</option>
                                <option value="aviny">آوینی</option>
                                <option value="azarmehr">آذرمهر</option>
                                <option value="damavand">دماوند</option>
                                <option value="dastnevis">دست نویس</option>
                                <option value="dubai">دوبی</option>
                                <option value="estedad">استعداد</option>
                                <option value="helvetica-neue">هلوتیکا</option>
                                <option value="lalezar">لاله زار</option>
                                <option value="mikhak">میخک</option>
                                <option value="myriad">میریاد</option>
                                <option value="noora">نورا</option>
                                <option value="palatino-sans">پالاتینو</option>
                                <option value="pinar">پینار</option>
                                <option value="dana">دانا</option>
                                <option value="sahel">ساحل</option>
                                <option value="shabnam">شبنم</option>
                                <option value="vanda">واندا</option>
                                <option value="vazir">وزیر</option>
                            </select>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>بازنشانی همه تنظیمات</h4>
                        <div class="skin-body">
                            <div class="switch_section my-4">
                                <button class="btn btn-danger btn-block" onclick="localStorage.clear();
										document.querySelector('html').style = '';
										names() ;
                                        resetData() ;" type="button">بازنشانی
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Switcher -->

<!-- GLOBAL-LOADER -->
<div id="global-loader">
    <img alt="Loader" class="loader-img" src="../assets/images/loader.svg">
</div>
<!-- /GLOBAL-LOADER -->

<!-- PAGE -->
<div class="page">

    <div class="page-main">

        <!-- app-Header -->
        <div class="app-header header sticky">
            <div class="container-fluid main-container">
                <div class="d-flex">
                    <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
                       href="javascript:void(0)"></a>
                    <!-- sidebar-toggle-->
                    <div class="d-flex order-lg-2 ms-auto header-right-icons">
                        <button aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation" class="navbar-toggler navresponsive-toggler d-lg-none ms-auto"
                                data-bs-target="#navbarSupportedContent-4" data-bs-toggle="collapse"
                                type="button">
                            <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                        </button>
                        <div class="navbar navbar-collapse responsive-navbar p-0">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                <div class="d-flex order-lg-2">
                                    <!-- COUNTRY -->
                                    <div class="dropdown d-flex">
                                        <a class="nav-link icon full-screen-link nav-link-bg">
                                            <i class="fe fe-minimize fullscreen-button"></i>
                                        </a>
                                    </div>
                                    <!-- SIDE-MENU -->
                                </div>
                            </div>
                        </div>
                        <div class="demo-icon nav-link icon">
                            <i class="fe fe-settings fa-spin  text_primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /app-Header -->

        <!--APP-SIDEBAR-->
                <!--APP-SIDEBAR-->
                <div class="sticky">
                    <div class="app-sidebar">
                        <div class="main-sidemenu">
                            <ul class="side-menu">
                                <li class="sub-category">
                                    <h3>اصلی</h3>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="../dashboard/dashboard.html"><i
                                            class="side-menu__icon fe fe-home"></i><span class="side-menu__label">داشبورد</span></a>
                                </li>
                                <li class="sub-category">
                                    <h3>پیمایش سریع</h3>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                            class="side-menu__icon fe fe-slack"></i><span
                                            class="side-menu__label">مدیریت گردش کالا</span><i
                                            class="angle fe fe-chevron-right"></i></a>
                                    <ul class="slide-menu">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">مدیریت گردش محصول</a></li>
                                        <li><a class="slide-item" href="../manage/new_product_input.html">ثبت ورودی کالا در انبار</a></li>
                                        <li><a class="slide-item" href="../manage/new_product_output.html">ثبت خروجی کالا در انبار</a></li>
                                        <li><a class="slide-item" href="../manage/history.html">تاریخچه گردش کالاها</a></li>
                                    </ul>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                            class="side-menu__icon fe fe-slack"></i><span
                                            class="side-menu__label">مدیریت انبار</span><i
                                            class="angle fe fe-chevron-right"></i></a>
                                    <ul class="slide-menu">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">مدیریت انبار</a></li>
                                        <li><a class="slide-item" href="../inventory/inventory_list.html">فهرست انبار ها</a></li>
                                        <li><a class="slide-item" href="../inventory/add_inventory.html">ایجاد انبار</a></li>
                                        <li><a class="slide-item" href="../inventory/category_list.html">فهرست دسته بندی انبار ها</a></li>
                                        <li><a class="slide-item" href="../inventory/create_category.html">ایجاد دسته بندی انبار</a></li>
                                        <li><a class="slide-item" href="../inventory/manager_list.html">فهرست انبار دار ها</a></li>
                                        <li><a class="slide-item" href="../inventory/new_manager.html">تعریف انبار دار جدید</a></li>
                                    </ul>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                            class="side-menu__icon fe fe-slack"></i><span
                                            class="side-menu__label">مدیریت کالاها</span><i
                                            class="angle fe fe-chevron-right"></i></a>
                                    <ul class="slide-menu">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">مدیریت کالاها</a></li>
                                        <li><a class="slide-item" href="../product/product_list.html">فهرست کالاها</a></li>
                                        <li><a class="slide-item" href="../product/add_product.html">ایجاد محصول</a></li>
                                        <li><a class="slide-item" href="../product/product_category_list.html">فهرست دسته بندی کالاها</a></li>
                                        <li><a class="slide-item" href="../product/create_product_category.html">ایجاد دسته بندی محصول</a></li>
                                    </ul>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                            class="side-menu__icon fe fe-slack"></i><span
                                            class="side-menu__label">تامین کنندگان</span><i
                                            class="angle fe fe-chevron-right"></i></a>
                                    <ul class="slide-menu">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">تامین کنندگان</a></li>
                                        <li><a class="slide-item" href="../supplier/supplier_list.html">فهرست تامین کنندگان</a></li>
                                        <li><a class="slide-item" href="../supplier/add_supplier.html">تعریف تامین کننده جدید</a></li>
                                    </ul>
                                </li>
                                <li class="slide">
                                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                            class="side-menu__icon fe fe-slack"></i><span
                                            class="side-menu__label">خدمات پرسنلی</span><i
                                            class="angle fe fe-chevron-right"></i></a>
                                    <ul class="slide-menu">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">خدمات پرسنلی</a></li>
                                        <li><a class="slide-item" href="../personal/calc_randeman.html">محاسبه راندمان کاری پرسنل</a></li>
                                        <li><a class="slide-item" href="../personal/personal_payment.html">پرداختی پرسنل</a></li>
                                        <li><a class="slide-item" href="../personal/personal_list.html">فهرست پرسنل سازمان</a></li>
                                        <li><a class="slide-item" href="../personal/add_personal.html">تعریف پرسنل جدید</a></li>
                                        <li><a class="slide-item" href="../personal/departman_list.html">فهرست دپارتمان ها</a></li>
                                        <li><a class="slide-item" href="../personal/create_departman.html">تعریف دپارتمان جدید</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/APP-SIDEBAR-->
                </div>

                        <!--app-content open-->
<!--app-content open-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">افزودن کالای جدید</h3>
            </div>
            <div class="card-body">
                <form id="productForm">
                    <div class="list-group">
                        <!-- بخش اطلاعات اصلی محصول -->
                        <div class="list-group-item" data-acc-step>
                            <h5 class="mb-0 d-flex" data-acc-title>
                                <span class="form-wizard-title">اطلاعات اصلی محصول</span>
                            </h5>
                            <div data-acc-content>
                                <div class="my-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>نام محصول <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" name="product_name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>کد محصول (SKU) <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" name="sku" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>دسته‌بندی <span class="text-danger">*</span></label>
                                                <select class="form-select" name="category" required>
                                                    <option value="">انتخاب کنید</option>
                                                    <option value="1">الکترونیکی</option>
                                                    <option value="2">لوازم خانگی</option>
                                                    <option value="3">ابزارآلات</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>واحد اندازه‌گیری <span class="text-danger">*</span></label>
                                                <select class="form-select" name="unit" required>
                                                    <option value="">انتخاب کنید</option>
                                                    
                                                    <!-- واحدهای شمارشی -->
                                                    <optgroup label="واحدهای شمارشی">
                                                        <option value="piece">عدد</option>
                                                        <option value="dozen">دوجین (12 عدد)</option>
                                                        <option value="set">ست</option>
                                                        <option value="pack">بسته</option>
                                                        <option value="carton">کارتن</option>
                                                        <option value="pallet">پالت</option>
                                                    </optgroup>
                                                    
                                                    <!-- واحدهای وزنی -->
                                                    <optgroup label="واحدهای وزنی">
                                                        <option value="gram">گرم</option>
                                                        <option value="kg">کیلوگرم</option>
                                                        <option value="ton">تن</option>
                                                        <option value="ounce">اونس</option>
                                                        <option value="pound">پوند</option>
                                                    </optgroup>
                                                    
                                                    <!-- واحدهای طولی -->
                                                    <optgroup label="واحدهای طولی">
                                                        <option value="mm">میلی‌متر</option>
                                                        <option value="cm">سانتی‌متر</option>
                                                        <option value="meter">متر</option>
                                                        <option value="km">کیلومتر</option>
                                                        <option value="inch">اینچ</option>
                                                        <option value="foot">فوت</option>
                                                        <option value="yard">یارد</option>
                                                    </optgroup>
                                                    
                                                    <!-- واحدهای حجمی -->
                                                    <optgroup label="واحدهای حجمی">
                                                        <option value="ml">میلی‌لیتر</option>
                                                        <option value="liter">لیتر</option>
                                                        <option value="gallon">گالن</option>
                                                        <option value="barrel">بشکه</option>
                                                    </optgroup>
                                                    
                                                    <!-- واحدهای مساحت -->
                                                    <optgroup label="واحدهای مساحت">
                                                        <option value="cm2">سانتی‌متر مربع</option>
                                                        <option value="m2">متر مربع</option>
                                                        <option value="hectare">هکتار</option>
                                                        <option value="acre">اکر</option>
                                                    </optgroup>
                                                    
                                                    <!-- واحدهای دیگر -->
                                                    <optgroup label="سایر واحدها">
                                                        <option value="time">زمان (ساعت/دقیقه)</option>
                                                        <option value="energy">انرژی (کیلووات ساعت)</option>
                                                        <option value="temperature">دما (سانتی‌گراد)</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>قیمت پایه (ریال) <span class="text-danger">*</span></label>
                                                <input type="number" class="form-control" name="price" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>موجودی اولیه <span class="text-danger">*</span></label>
                                                <input type="number" class="form-control" name="stock" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>حداقل موجودی</label>
                                                <input type="number" class="form-control" name="min_stock">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="is_active" id="isActive">
                                                <label class="form-check-label" for="isActive">
                                                    محصول فعال است
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- بخش اطلاعات مالی و جزئیات -->
                        <div class="list-group-item" data-acc-step>
                            <h5 class="mb-0 d-flex" data-acc-title>
                                <span class="form-wizard-title">اطلاعات انبارداری</span>
                            </h5>
                            <div data-acc-content>
                                <div class="my-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>انتخاب انبار ذخیره سازی<span class="text-danger">*</span></label>
                                                <select class="form-select" name="unit" required>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>توضیحات انبارداری</label>
                                                <textarea class="form-control" rows="4" name="description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">ثبت محصول</button>
                        <button type="reset" class="btn btn-secondary">بازنشانی</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--app-content closed-->
        <!--app-content closed-->

    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-12 col-sm-12 text-center">
                    حق نشر © 1401 <a href="javascript:void(0)">Sash</a>. طراحی شده با <span
                        class="fa fa-heart text-danger"></span> توسط <a href="javascript:void(0)"> استودیو Unique </a>
                    کلیه حقوق محفوظ است.
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER CLOSED -->
<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JQUERY JS -->
<script src="../assets/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- TypeHead js -->
<script src="../assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
<script src="../assets/js/typehead.js"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>
<script src="../assets/plugins/p-scroll/pscroll.js"></script>
<script src="../assets/plugins/p-scroll/pscroll-1.js"></script>

<!-- SIDE-MENU JS -->
<script src="../assets/plugins/sidemenu/sidemenu.js"></script>

<!-- SIDEBAR JS -->
<script src="../assets/plugins/sidebar/sidebar.js"></script>

<!-- Color Theme js -->
<script src="../assets/js/themeColors.js"></script>

<!-- Sticky js -->
<script src="../assets/js/sticky.js"></script>

<!-- CUSTOM JS -->
<script src="../assets/js/custom.js"></script>

<!-- Custom-switcher -->
<script src="../assets/js/custom-swicher.js"></script>

<!-- Switcher js -->
<script src="../assets/switcher/js/switcher.js"></script>

</body>

</html>