{% extends 'layout/base.html' %}
{% load static %}
{% block head %}

    <!-- FAVICON -->
    <link href="{% static '' %}images/brand/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <!-- TITLE -->
    {% block title %}calc – سیستم مالی و حسابداری {% endblock %}

{% endblock %}
{% block body %}

<!-- GLOBAL-LOADER -->
<div id="global-loader">
    <img alt="Loader" class="loader-img" src="{% static '' %}images/loader.svg">
</div>
<!-- /GLOBAL-LOADER -->

<!-- PAGE -->
<div class="page">
    <div class="page-main">

        <!-- app-Header -->
        <div class="app-header header sticky">
            <div class="container-fluid main-container">
                <div class="d-flex">
                    <!-- sidebar-toggle-->
                    <!-- LOGO -->   
                    <div class="main-header-center ms-3 d-none d-lg-block">
                        <input autocomplete="off" class="form-control" id="typehead" placeholder="جستجو برای نتایج ..."
                               type="text">
                        <button class="btn px-0 pt-2"><i aria-hidden="true" class="fe fe-search"></i></button>
                    </div>
                    <div class="d-flex order-lg-2 ms-auto header-right-icons">
                        <div class="dropdown d-none">
                            <a class="nav-link icon" data-bs-toggle="dropdown" href="javascript:void(0)">
                                <i class="fe fe-search"></i>
                            </a>
                            <div class="dropdown-menu header-search dropdown-menu-start">
                                <div class="input-group w-100 p-2">
                                    <input class="form-control" placeholder="جستجو ..." type="text">
                                    <div class="input-group-text btn btn-primary">
                                        <i aria-hidden="true" class="fe fe-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SEARCH -->
                        <button aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation" class="navbar-toggler navresponsive-toggler d-lg-none ms-auto"
                                data-bs-target="#navbarSupportedContent-4" data-bs-toggle="collapse"
                                type="button">
                            <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                        </button>
                        <div class="navbar navbar-collapse responsive-navbar p-0">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                <div class="d-flex order-lg-2">
                                    <div class="dropdown d-lg-none d-flex">
                                        <a class="nav-link icon" data-bs-toggle="dropdown" href="javascript:void(0)">
                                            <i class="fe fe-search"></i>
                                        </a>
                                        <div class="dropdown-menu header-search dropdown-menu-start">
                                            <div class="input-group w-100 p-2">
                                                <input class="form-control" placeholder="جستجو ..." type="text">
                                                <div class="input-group-text btn btn-primary">
                                                    <i aria-hidden="true" class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex country">
                                        <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                            <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                            <span class="light-layout"><i class="fe fe-sun"></i></span>
                                        </a>
                                    </div>
                                    <!-- Theme-Layout -->
                                    <div class="dropdown d-flex">
                                        <a class="nav-link icon full-screen-link nav-link-bg">
                                            <i class="fe fe-minimize fullscreen-button"></i>
                                        </a>
                                    </div>
                                    <!-- FULL-SCREEN -->
                                    <div class="dropdown d-flex header-settings">
                                        <a class="nav-link icon" data-bs-toggle="sidebar-right"
                                           data-target=".sidebar-right" href="javascript:void(0);">
                                            <i class="fe fe-align-right"></i>
                                        </a>
                                    </div>
                                    <!-- SIDE-MENU -->  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /app-Header -->

        <!--APP-SIDEBAR-->
        <div class="sticky">
            <div class="app-sidebar">
                <div class="main-sidemenu">
                    <ul class="side-menu">
                        <li class="sub-category">
                            <h3>اصلی</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item has-link" data-bs-toggle="slide" href="index.html"><i
                                    class="side-menu__icon fe fe-home"></i><span class="side-menu__label">داشبورد</span></a>
                        </li>
                        <li class="sub-category">
                            <h3> کیت UI</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-slack"></i><span
                                    class="side-menu__label">برنامه ها</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">برنامه‌ها</a></li>
                                <li><a class="slide-item" href="cards.html"> کارت</a></li>
                                <li><a class="slide-item" href="calendar.html"> تقویم پیش‌فرض</a></li>
                                <li><a class="slide-item" href="calendar2.html"> تقویم کامل</a></li>
                                <li><a class="slide-item" href="chat.html"> گپ</a></li>
                                <li><a class="slide-item" href="notify.html"> اعلان‌ها</a></li>
                                <li><a class="slide-item" href="sweetalert.html"> سویت آلرت</a></li>
                                <li><a class="slide-item" href="rangeslider.html"> نوار بازه محدوده</a></li>
                                <li><a class="slide-item" href="scroll.html"> نوار پیمایش محتوا</a></li>
                                <li><a class="slide-item" href="loaders.html"> لودرها</a></li>
                                <li><a class="slide-item" href="counters.html"> شمارنده</a></li>
                                <li><a class="slide-item" href="rating.html"> رتبه‌بندی</a></li>
                                <li><a class="slide-item" href="timeline.html"> تایم لاین</a></li>
                                <li><a class="slide-item" href="treeview.html"> نمای درختی</a></li>
                                <li><a class="slide-item" href="chart.html"> نمودارها</a></li>
                                <li><a class="slide-item" href="footers.html"> پاورقی</a></li>
                                <li><a class="slide-item" href="users-list.html"> فهرست کاربران</a></li>
                                <li><a class="slide-item" href="search.html">جستجو</a></li>
                                <li><a class="slide-item" href="crypto-currencies.html"> ارزهای رمزنگاری شده</a></li>
                                <li><a class="slide-item" href="widgets.html"> ابزارک‌ها</a></li>

                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-package"></i><span
                                    class="side-menu__label">بوت استرپ</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu mega-slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">بوت استرپ</a></li>
                                <div class="mega-menu">
                                    <div class="">
                                        <ul>
                                            <li><a class="slide-item" href="alerts.html"> هشدارها</a></li>
                                            <li><a class="slide-item" href="buttons.html"> دکمه‌ها</a></li>
                                            <li><a class="slide-item" href="colors.html"> رنگ‌ها</a></li>
                                            <li><a class="slide-item" href="avatarsquare.html"> آواتار مربعی</a></li>
                                            <li><a class="slide-item" href="avatar-radius.html"> آواتار گرد</a></li>
                                            <li><a class="slide-item" href="avatar-round.html"> آواتار دایره ای</a></li>
                                            <li><a class="slide-item" href="dropdown.html"> دراپ داون</a></li>
                                        </ul>
                                    </div>
                                    <div class="">
                                        <ul>
                                            <li><a class="slide-item" href="listgroup.html"> گروه فهرست</a></li>
                                            <li><a class="slide-item" href="tags.html"> برچسب‌ها</a></li>
                                            <li><a class="slide-item" href="pagination.html"> صفحه بندی</a></li>
                                            <li><a class="slide-item" href="navigation.html"> پیمایش</a></li>
                                            <li><a class="slide-item" href="typography.html"> تایپوگرافی</a></li>
                                            <li><a class="slide-item" href="breadcrumbs.html"> مسیر سایت</a></li>
                                            <li><a class="slide-item" href="badge.html"> نشان‌ها / قرص‌ها</a></li>
                                        </ul>
                                    </div>
                                    <div class="">
                                        <ul>
                                            <li><a class="slide-item" href="panels.html"> پانل‌ها</a></li>
                                            <li><a class="slide-item" href="thumbnails.html"> تصاویر کوچک</a></li>
                                            <li><a class="slide-item" href="offcanvas.html">منوی جانبی</a></li>
                                            <li><a class="slide-item" href="toast.html"> تست</a></li>
                                            <li><a class="slide-item" href="scrollspy.html"> نشانگر پیمایش</a></li>
                                            <li><a class="slide-item" href="mediaobject.html"> مدیا آبجکت</a></li>
                                        </ul>
                                    </div>
                                    <div class="">
                                        <ul>
                                            <li><a class="slide-item" href="accordion.html"> آکاردئون </a></li>
                                            <li><a class="slide-item" href="tabs.html"> برگه‌ها</a></li>
                                            <li><a class="slide-item" href="modal.html"> مودال</a></li>
                                            <li><a class="slide-item" href="tooltipandpopover.html"> تولتیپ و پاپ
                                                اور</a></li>
                                            <li><a class="slide-item" href="progress.html"> پیشرفت</a></li>
                                            <li><a class="slide-item" href="carousel.html"> اسلایدر</a></li>
                                            <li><a class="slide-item" href="ribbons.html"> ریبون ها</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <a class="side-menu__item has-link" href="landing-page.html" target="_blank"><i
                                    class="side-menu__icon fe fe-zap"></i><span
                                    class="side-menu__label">لیندینگ پیج</span><span
                                    class="badge bg-green br-5 side-badge blink-text pb-1">جدید</span></a>
                        </li>
                        <li class="sub-category">
                            <h3>صفحات از قبل ساخته شده</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">صفحات</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">صفحات</a></li>
                                <li><a class="slide-item" href="profile.html"> پروفایل</a></li>
                                <li><a class="slide-item" href="editprofile.html"> ویرایش پروفایل</a></li>
                                <li><a class="slide-item" href="notify-list.html"> فهرست اعلان‌ها</a></li>
                                <li><a class="slide-item" href="email-compose.html"> نوشتن ایمیل</a></li>
                                <li><a class="slide-item" href="email-inbox.html"> صندوق ورودی ایمیل</a></li>
                                <li><a class="slide-item" href="email-read.html"> محتوای ایمیل</a></li>
                                <li><a class="slide-item" href="gallery.html"> گالری</a></li>
                                <li class="sub-slide">
                                    <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                            class="sub-side-menu__label">فرم‌ها</span> <i
                                            class="sub-angle fe fe-chevron-right"></i></a>
                                    <ul class="sub-slide-menu">
                                        <li><a class="sub-slide-item" href="form-elements.html"> عناصر فرم</a></li>
                                        <li><a class="sub-slide-item" href="form-layouts.html"> طرح‌بندی فرم</a></li>
                                        <li><a class="sub-slide-item" href="form-advanced.html"> فرم پیشرفته</a></li>
                                        <li><a class="sub-slide-item" href="form-editor.html"> ویرایشگر فرم</a></li>
                                        <li><a class="sub-slide-item" href="form-wizard.html"> فرم مرحله ای</a></li>
                                        <li><a class="sub-slide-item" href="form-validation.html"> اعتبار سنجی فرم</a>
                                        </li>
                                        <li><a class="sub-slide-item" href="form-input-spinners.html"> اسپینرهای ورودی
                                            فرم</a></li>
                                    </ul>
                                </li>
                                <li class="sub-slide">
                                    <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                            class="sub-side-menu__label">جدول</span> <i
                                            class="sub-angle fe fe-chevron-right"></i></a>
                                    <ul class="sub-slide-menu">
                                        <li><a class="sub-slide-item" href="tables.html">جدول پیش‌فرض</a></li>
                                        <li><a class="sub-slide-item" href="datatable.html"> جداول داده</a></li>
                                        <li><a class="sub-slide-item" href="edit-table.html"> ویرایش جداول</a></li>
                                        <li><a class="sub-slide-item" href="extension-tables.html"> جداول برنامه
                                            افزودنی</a></li>
                                    </ul>
                                </li>
                                <li class="sub-slide">
                                    <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                            class="sub-side-menu__label">دیگر صفحات</span> <i
                                            class="sub-angle fe fe-chevron-right"></i></a>
                                    <ul class="sub-slide-menu">
                                        <li><a class="sub-slide-item" href="about.html"> درباره شرکت</a></li>
                                        <li><a class="sub-slide-item" href="services.html"> خدمات</a></li>
                                        <li><a class="sub-slide-item" href="faq.html"> سوالات متداول</a></li>
                                        <li><a class="sub-slide-item" href="terms.html"> شرایط</a></li>
                                        <li><a class="sub-slide-item" href="invoice.html"> فاکتور</a></li>
                                        <li><a class="sub-slide-item" href="pricing.html"> جداول قیمت‌گذاری</a></li>
                                        <li><a class="sub-slide-item" href="settings.html"> تنظیمات</a></li>
                                        <li><a class="sub-slide-item" href="blog.html"> وبلاگ</a></li>
                                        <li><a class="sub-slide-item" href="blog-details.html"> جزئیات وبلاگ</a></li>
                                        <li><a class="sub-slide-item" href="blog-post.html"> پست وبلاگ</a></li>
                                        <li><a class="sub-slide-item" href="empty.html"> صفحه خالی</a></li>
                                        <li><a class="sub-slide-item" href="construction.html"> در حال ساخت</a></li>
                                    </ul>
                                </li>
                                <li><a class="slide-item" href="switcher-1.html"> سوئیچر</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-shopping-bag"></i><span class="side-menu__label">تجارت الکترونیک</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">تجارت الکترونیک</a></li>
                                <li><a class="slide-item" href="shop.html"> فروشگاه</a></li>
                                <li><a class="slide-item" href="shop-description.html"> جزئیات محصول</a></li>
                                <li><a class="slide-item" href="cart.html"> سبد خرید</a></li>
                                <li><a class="slide-item" href="add-product.html"> افزودن محصول</a></li>
                                <li><a class="slide-item" href="wishlist.html"> لیست علاقه مندی</a></li>
                                <li><a class="slide-item" href="checkout.html"> تسویه حساب</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-folder"></i><span
                                    class="side-menu__label">مدیر فایل</span><span
                                    class="badge bg-pink side-badge">4</span><i
                                    class="angle fe fe-chevron-right hor-angle"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">مدیر فایل</a></li>
                                <li><a class="slide-item" href="file-manager.html"> مدیر فایل</a></li>
                                <li><a class="slide-item" href="filemanager-list.html"> فهرست مدیر فایل</a></li>
                                <li><a class="slide-item" href="filemanager-details.html"> جزئیات فایل</a></li>
                                <li><a class="slide-item" href="file-attachments.html"> فایل های پیوست </a></li>
                            </ul>
                        </li>
                        <li class="sub-category">
                            <h3>صفحات متفرقه</h3>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-users"></i><span
                                    class="side-menu__label">احراز هویت</span><i class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">احراز هویت</a></li>
                                <li><a class="slide-item" href="login.html"> ورود به سیستم</a></li>
                                <li><a class="slide-item" href="register.html"> ثبت نام</a></li>
                                <li><a class="slide-item" href="forgot-password.html"> فراموشی رمز</a></li>
                                <li><a class="slide-item" href="lockscreen.html"> صفحه قفل</a></li>
                                <li class="sub-slide">
                                    <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                            class="sub-side-menu__label">صفحات خطا</span><i
                                            class="sub-angle fe fe-chevron-right"></i></a>
                                    <ul class="sub-slide-menu">
                                        <li><a class="sub-slide-item" href="400.html"> 400</a></li>
                                        <li><a class="sub-slide-item" href="401.html"> 401</a></li>
                                        <li><a class="sub-slide-item" href="403.html"> 403</a></li>
                                        <li><a class="sub-slide-item" href="404.html"> 404</a></li>
                                        <li><a class="sub-slide-item" href="500.html"> 500</a></li>
                                        <li><a class="sub-slide-item" href="503.html"> 503</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                                <i class="side-menu__icon fe fe-cpu"></i>
                                <span class="side-menu__label">موارد زیر منو</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">موارد زیر منو</a></li>
                                <li><a class="slide-item" href="javascript:void(0)">زیرمنوی-1</a></li>
                                <li class="sub-slide">
                                    <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span
                                            class="sub-side-menu__label">زیرمنوی 2</span><i
                                            class="sub-angle fe fe-chevron-right"></i></a>
                                    <ul class="sub-slide-menu">
                                        <li><a class="sub-slide-item" href="javascript:void(0)">زیر منو-2.1</a></li>
                                        <li><a class="sub-slide-item" href="javascript:void(0)">زیر منوی 2.2</a></li>
                                        <li class="sub-slide2">
                                            <a class="sub-side-menu__item2" data-bs-toggle="sub-slide2"
                                               href="javascript:void(0)"><span class="sub-side-menu__label2">زیرمنوی-2.3</span><i
                                                    class="sub-angle2 fe fe-chevron-right"></i></a>
                                            <ul class="sub-slide-menu2">
                                                <li><a class="sub-slide-item2"
                                                       href="javascript:void(0)">زیرمنوی-2.3.1</a></li>
                                                <li><a class="sub-slide-item2"
                                                       href="javascript:void(0)">زیرمنوی-2.3.2</a></li>
                                                <li><a class="sub-slide-item2" href="javascript:void(0)">زیر
                                                    منو-2.3.3</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="sub-slide-item" href="javascript:void(0)">زیرمنوی-2.4</a></li>
                                        <li><a class="sub-slide-item" href="javascript:void(0)">زیر منو-2.5</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-category">
                            <h3>عمومی</h3>
                        </li>

                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-map-pin"></i><span
                                    class="side-menu__label">نقشه ها</span><i class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">نقشه‌ها</a></li>
                                <li><a class="slide-item" href="maps1.html">نقشه‌های بروشور</a></li>
                                <li><a class="slide-item" href="maps2.html">Mapel Maps</a></li>
                                <li><a class="slide-item" href="maps.html">نقشه‌های برداری</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">نمودار ها</span><span
                                    class="badge bg-secondary side-badge">6</span><i
                                    class="angle fe fe-chevron-right hor-angle"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">نمودارها</a></li>
                                <li><a class="slide-item" href="chart-chartist.html">Js نمودار</a></li>
                                <li><a class="slide-item" href="chart-flot.html">نمودار Flot</a></li>
                                <li><a class="slide-item" href="chart-echart.html"> نمودار ECharts</a></li>
                                <li><a class="slide-item" href="chart-morris.html"> نمودارهای Morris</a></li>
                                <li><a class="slide-item" href="chart-nvd3.html"> نمودارهای Nvd3</a></li>
                                <li><a class="slide-item" href="charts.html"> نمودارهای نواری C3</a></li>
                                <li><a class="slide-item" href="chart-line.html"> نمودارهای خطی C3</a></li>
                                <li><a class="slide-item" href="chart-donut.html"> نمودارهای دونات C3</a></li>
                                <li><a class="slide-item" href="chart-pie.html"> نمودارهای C3 Pie</a></li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-wind"></i><span class="side-menu__label">آیکن ها</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">آیکن ها</a></li>
                                <li><a class="slide-item" href="icons.html"> Font Awesome</a></li>
                                <li><a class="slide-item" href="icons2.html"> آیکن متریال</a></li>
                                <li><a class="slide-item" href="icons3.html"> آیکن خط ساده</a></li>
                                <li><a class="slide-item" href="icons4.html"> آیکن Feather</a></li>
                                <li><a class="slide-item" href="icons5.html"> نمادهای Ionic</a></li>
                                <li><a class="slide-item" href="icons6.html"> آیکن پرچم</a></li>
                                <li><a class="slide-item" href="icons7.html"> آیکن pe7</a></li>
                                <li><a class="slide-item" href="icons8.html"> آیکن Themify</a></li>
                                <li><a class="slide-item" href="icons9.html">آیکن Typicons</a></li>
                                <li><a class="slide-item" href="icons10.html">آیکن آب و هوا</a></li>
                                <li><a class="slide-item" href="icons11.html">آیکن بوت استرپ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/APP-SIDEBAR-->
        </div>

        <!--app-content open-->
        <div class="main-content app-content mt-0">
            <div class="side-app">

                <!-- CONTAINER -->
                <div class="main-container container-fluid">
                </div>
                <!-- CONTAINER CLOSED -->
            </div>
        </div>
        <!--app-content closed-->
    </div>
    {% include 'layout/sidebar_right.html' %}
    <!--/Sidebar-right-->

    <!-- Country-selector modal-->
    <div class="modal fade" id="country-selector">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content country-select-modal">
                <div class="modal-header">
                    <h6 class="modal-title">انتخاب کشور</h6>
                    <button aria-label="Close" class="btn-close"
                            data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <ul class="row p-3">
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block active" href="javascript:void(0)">
                                    <span class="country-selector"><img alt="" class="me-3 language"
                                                                        src="{% static '' %}images/flags/us_flag.jpg"></span>ایالات متحده آمریکا
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt=""
                                                                        class="me-3 language"
                                                                        src="{% static '' %}images/flags/italy_flag.jpg"></span>ایتالیا
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt=""
                                                                        class="me-3 language"
                                                                        src="{% static '' %}images/flags/spain_flag.jpg"></span>اسپانیا
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt=""
                                                                        class="me-3 language"
                                                                        src="{% static '' %}images/flags/india_flag.jpg"></span>هند
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt=""
                                                                        class="me-3 language"
                                                                        src="{% static '' %}images/flags/french_flag.jpg"></span>فرانسوی
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt=""
                                                                        class="me-3 language"
                                                                        src="{% static '' %}images/flags/russia_flag.jpg"></span>روسیه
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt=""
                                                                        class="me-3 language"
                                                                        src="{% static '' %}images/flags/germany_flag.jpg"></span>آلمان
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt=""
                                                                        class="me-3 language"
                                                                        src="{% static '' %}images/flags/argentina.jpg"></span>آرژانتین
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt="" class="me-3 language"
                                                                        src="{% static '' %}images/flags/malaysia.jpg"></span>مالزی
                            </a>
                        </li>
                        <li class="col-lg-6 mb-2">
                            <a class="btn btn-country btn-lg btn-block" href="javascript:void(0)">
                                    <span class="country-selector"><img alt="" class="me-3 language"
                                                                        src="{% static '' %}images/flags/turkey.jpg"></span>ترکیه
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Country-selector modal-->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-12 col-sm-12 text-center">
                    حق نشر © 1401 <a href="javascript:void(0)">calc</a>. طراحی شده با <span
                        class="fa fa-heart text-danger"></span> توسط <a href="javascript:void(0)"> Unique174 </a>
                    کلیه حقوق محفوظ است.
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER CLOSED -->
</div>

<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

{% block js %}
<!-- JQUERY JS -->
<script src="{% static '' %}js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="{% static '' %}plugins/bootstrap/js/popper.min.js"></script>
<script src="{% static '' %}plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- TypeHead js -->
<script src="{% static '' %}plugins/bootstrap5-typehead/autocomplete.js"></script>
<script src="{% static '' %}js/typehead.js"></script>

<!-- INTERNAL Notifications js -->
<script src="{% static '' %}plugins/notify/js/rainbow.js"></script>
<script src="{% static '' %}plugins/notify/js/jquery.growl.js"></script>
<script src="{% static '' %}plugins/notify/js/notifIt.js"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="{% static '' %}plugins/p-scroll/perfect-scrollbar.js"></script>
<script src="{% static '' %}plugins/p-scroll/pscroll.js"></script>
<script src="{% static '' %}plugins/p-scroll/pscroll-1.js"></script>

<!-- SIDE-MENU JS -->
<script src="{% static '' %}plugins/sidemenu/sidemenu.js"></script>

<!-- SIDEBAR JS -->
<script src="{% static '' %}plugins/sidebar/sidebar.js"></script>

<!-- Color Theme js -->
<script src="{% static '' %}js/themeColors.js"></script>

<!-- Sticky js -->
<script src="{% static '' %}js/sticky.js"></script>

<!-- CUSTOM JS -->
<script src="{% static '' %}js/custom.js"></script>

<!-- Custom-switcher -->
<script src="{% static '' %}js/custom-swicher.js"></script>

<!-- Switcher js -->
<script src="{% static '' %}switcher/js/switcher.js"></script>

{% endblock %}
{% endblock %}